/* width */
.custom-scroll-bar::-webkit-scrollbar {
    width: 2px;

  }
  
  /* Track */
  .custom-scroll-bar::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 1px;
  }
  
  /* Handle */
  .custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #888;
    width: 1px;
  }
  
  /* Handle on hover */
  .custom-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }